# Node.js dependencies
node_modules/
package-lock.json

# Logs
*.log

# Runtime data
.DS_Store
.env
.env.local

# IDE-specific files
.vscode/
.idea/

# Cloudflare Pages build output (if not deployed from 'dist')
dist/
wrangler.jsonc
